@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,7,130,1) 55%, rgba(0,212,255,1) 100%);
}
/* .footer-bg {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,7,130,1) 55%, rgba(0,212,255,1) 100%);
} */

body {
  background-color: #ededed;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}
